body {
	padding-top: 70px;
	
}

nav {
padding-top: 15px;
padding-bottom: 12px;
background-color: #333333;
}

nav a{
	color: #fff;
}
.text {
	text-align: center;
	display: inline-block;
	margin: 70px 400px;
}

img {
	display:block;
	margin: auto;
	width: 150px;
	height: 100%;
	padding-top: 30px;
	padding-bottom: 10px;
}

h1, h2 {
	text-align: center;
	margin-top: 60px;
}

.col {
	display: block;
}

#contact {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue";
}
.contact-section {
	padding: 40px 0px;
}

.contact-form {
	max-width: 600px;
	margin: auto;
	padding: 0px 10px;
	overflow: hidden;
}
.contact-form-text {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
	background: #333333;
	padding: 20px 40px;
	outline: none;
	color: #ddd;
	transition: 0.5s;
}
.contact-form-text:focus {
	box-shadow: 0 0 10px 4px #8f948b;
}

textarea.contact-form-text {
	resize: none;
	height: 120px;
}
.contact-form-btn {
	float: right;
	border: 0;
	background: #333333;
	color: #ecebed;
	padding: 12px 50px;
	border-radius: 20px;
	cursor: pointer;
}
.contact-form-btn:hover {
	background: #000;
}
#media {
	padding: 0px 30px;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
}

#media a {
	padding: 0px 30px;

}



